html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.container {
  position: relative;
  height: 100%;
}

#overlay {
  position: absolute;
  left: 25%;
  text-align: center;
  bottom: 10px;
  width: 50%;
  color: white;
  line-height: 98%;
  text-align: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  not supported by any browser */
  pointer-events: none;
}

hr {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  border: none;
  height: 1px;
}

a {
  color: aquamarine;
}

.c {
  border: 2px solid #FFFFFF;
  margin: 3px;
  width: 60px;
  height: 80px;
  position: absolute;
  opacity: 0.9;
  filter: alpha(opacity=40);
  cursor: pointer;
  background-image: url('buttonssheet_strip22.png');
  touch-action: none;
}

.camera {
  top: -10px;
  right: 10px;
  background-position: 0px 0px
}

.reset {
  top: -10px;
  left: 90px;
  background-position: -240px 0px
}

.undo {
  top: -10px;
  left: 10px;
  background-position: -360px 0px
}

.music {
  top: -10px;
  right: 90px;
  z-index: 1;
  visibility: hidden;
  background-position: -120px 0px
}

.debug {
  top: -30px;
  left: 45%;
  background-image: url('debug.png');
}

.lvlprev {
  top: -10px;
  left: 10px;
  width: 29px;
  background-position: -540px 0px
}

.lvlnext {
  top: -10px;
  left: 41px;
  width: 29px;
  background-position: -480px 0px
}

.moveup {
  bottom: 105px; /*120px 70px*/
  right: -5px;
  width: 140px;
  height: 60px;
  visibility: hidden;
  background-position: -840px 0px
}

.movedown {
  bottom: 43px; /*48px -2px*/
  right: -5px;
  width: 140px;
  height: 60px;
  visibility: hidden;
  background-position: -1020px 0px
}

.moveleft {
  bottom: -10px;
  left: -4px;
  height: 175px;
  width: 60px;
  background-repeat: no-repeat;
  visibility: hidden;
  background-position: -605px 0px
}

.moveright {
  bottom: -10px;
  left: 58px;
  height: 175px;
  width: 60px;
  background-repeat: no-repeat;
  visibility: hidden;
  background-position: -725px 0px
}

.share {
  top: -100px;
  left: 90px;
  background-position: -1200px 0px;
  visibility: hidden;
}

.splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #D8F0E5;
  z-index: 10;
  top: 0; bottom: 0; left: 0; right: 0;
  animation: splashVanish 3s;
  text-align: center;
  font-size: 40px;
}

.splash div
{
  position: fixed;
  width: 512px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -256px;
  color: black;
}

.splash span {
  position: fixed;
  width: 300px;
  /*transform: translate(0,400px);*/
  left: 50%;
  margin-left: -150px;
  color: black;
  text-align: center;
}

.splash button
{
  font-size: 40px;
  width: 300px;
  visibility: hidden;
  position: relative;
  bottom: 10px;
}

.audioerror {
  width: 200px;
background: white;
border-color: red;
visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .splash div
  {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -256px;
    margin-left: -256px;
    color: white;
  }

  .splash img {
    width: 350px;
  }
}